@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

:root {
  --prycyan: hsl(193, 38%, 86%);
  --prygreen: hsl(150, 100%, 66%);
  --neublue: hsl(217, 19%, 38%);
  --neugrayblue: hsl(217, 19%, 24%);
  --neudarkblue: hsl(218, 23%, 16%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--neudarkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 5em 0px 10em;
}


mark {
  background-color: #FFFF00;
}
form {
  width: 95%;
  max-width: 700px;
  margin: 0px auto;
  padding: 15px;
  color: #fff;
  background-color: var(--neugrayblue);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.8rem;
}

input {
  background-color: var(--neudarkblue);
  padding: 1em 2em;
  color: var(--prycyan);
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;

}

button {
  padding: 1em 2em;
  border-radius: 10px;
  background-color: var(--neublue);
  color: var(--prygreen);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: var(--prygreen);
  color: var(--neudarkblue);
}

div {
  width: 95%;
  max-width: 700px;
  margin: 0px auto;
  padding: 50px 15px;
  color: #fff;
  background-color: var(--neugrayblue);
  border-radius: 10px;
  text-align: center;
}